main p, body {
    font-family: "DM Sans" !important;
    font-size: 1em;
}

main h1 {
    font-family: "Alata";
    font-weight: normal;
    font-size: 3em;
}

main h2 {
    font-size: 1.5em;
}

main {
    margin: 0em 2em 0em 2em;
}

main .welcome {
    display: flex;
    justify-content: center;
}

main p.welcome {
    color: gray;
}
 
main #wrap {
    border: solid black 1px;
    border-radius: 1.5em;
    width: 600px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 5em;
    padding: 9em 2em 9em 2em;
}

main #forgot-info {
    display: flex;
    justify-content: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0.15em;
    padding: 0.25em;
}

main form input {
    margin: 0.7em 0em 0.7em 0em;
    border: solid black 1px;
    padding: 1em;
    border-radius: 1em;
    width: 400px;
    height: 50px;
}

main #submit {
    color: white;
    background-color: black;
    padding: 0;
}

main #google {
    background-color: white;
    background-image: url("../images/google.png");
    background-size: 140px;
    background-repeat: no-repeat;
}

main .input {
    margin: 0.8em 0 0.8em 0;
}

main .input label {
    display: block;
}