header body {
    font-family: "Actor";
    font-size: 1em;
}

header h1 {
    font-size: 2em;
}

header h2 {
    font-size: 1.5em;
}

header {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-right: 2em;
}

header #site-logo {
    width: 10%;
    height: fit-content;
    float: left;
}

header #site-logo img {
    width: 150px;
    margin-left: 1em;
}

header #site-logo h1 {
    padding: 0 2em 0 2em;
}

header #navigation-menu {
    margin-left: 15%;
    margin: 0;
    font-family: "Actor";
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
    padding-left: 2em;
}

header #navigation-menu a {
    text-decoration: none;
    color: black;
}

header #navigation-menu:after {
    content: "";
    display: table;
    clear: both;
}

header #account-image {
    width: 2em;
    border: 2px solid #D0D7DE;
    border-radius: 10em;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

header figure figcaption {
    text-align: center;
}

header #category-dropdown {
    border: 2px  solid #9EE7FB;
    border-radius: 0.5em;
    height: 3.5em;
    font-size: small;
}

header #search {
    border: solid 1px #F0F0F0;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    margin: 0 0.2em 0 0.3em;
    text-indent: 15px;
    background-image: url("../images/search.png");
    background-size: 47px;
    background-repeat: no-repeat;
    background-color: #F0F0F0;
}

header #search::placeholder {
    font-family: "Actor";
}

header #search:focus { 
    background-image: none; 
}

header #srcbtn {
    background-color: #DEF8FF;
    border: 2px  solid #9EE7FB;
    border-radius: 0.5em;
    height: 3.5em;
    font-size: small;
}

/* Responsive design for mobile */
@media screen and (max-width: 870px) {
    header {
        height: auto;
        display: block;
    }
    
    header #site-logo {
        width: 100%;
        clear: both;
        height: 130px;
    }

    header #navigation-menu {
        margin: 0em 3em 3em 3em;
        width: 100%;
        display: block;
        padding: 0;
    }

    header #navigation-menu a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

}

@media (min-width: 870px) and (max-width: 1100px) {
    header {
        height: auto;
        display: block;
    }

    header #site-logo {
        width: 100%;
        clear: both;
        height: 130px;
    }

    header #navigation-menu {
        margin: 0em 0 3em 0;
        width: 100%;
        padding: 0 3em 0 3em;
    }

}