main p, body {
    font-family: "DM Sans" !important;
    font-size: 1em;
}

main h1 {
    font-family: "Alata";
    font-weight: normal;
    font-size: 3em;
}

main h2 {
    font-size: 1.5em;
}

main {
    margin: 0em 5em 0em 5em;
}

main .welcome {
    display: flex;
    justify-content: center;
}

main p.welcome {
    color: gray;
}
 
main #wrap {
    border: solid black 1px;
    border-radius: 1.5em;
    width: 600px;
    height: auto;
    margin: 2em auto 5em auto;
    padding: 9em 0 9em 0;
}

main #signin-info {
    display: flex;
    justify-content: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 0.25em;
}

main form input {
    margin: 0.7em 0em 0.7em 0em;
    border: solid black 1px;
    padding: 1em;
    border-radius: 1em;
    width: 100%;
    height: 50px;
}

main #submit {
    color: white;
    background-color: black;
    padding: 0;
}

main #google {
    background-color: white;
    background-image: url("../images/google.png");
    background-size: 140px;
    background-repeat: no-repeat;
}

main .input {
    margin: 0.8em 0 0.8em 0;
    width: 80%;
}

main .input label {
    display: block;
}

main #forgot {
    position: relative;
    bottom: 12px;
    margin: 0 0 0 auto;
    margin-left: auto;
}

main #forgot a {
    text-decoration: none;
    color: #38AB38;
}

main #sig {
    text-decoration: none;
    color: #38AB38;
}

/* Responsive design for mobile */
@media screen and (max-width: 800px) {
    main {
        margin: 0em 3em 0em 3em;
    }

    main #wrap {
        border: solid black 1px;
        border-radius: 1.5em;
        width: 80%;
        height: 795px;
        margin: 2em auto 5em auto;
        padding: 9em 0 9em 0;
    }

}