/* font-family, font size */
main body {
	font-family: "Actor";
	font-size: 1em;
}

main h1 {
	font-family: "Alata";
	font-size: 2em;
	margin-bottom: 1em;
}

main h2 {
	font-family: "Alata";
	font-size: 1.5em;
}

main h3 {
	font-family: "Actor";
	font-size: 1em;
	margin: 0.5em 0 0 0;
	padding: 0.7em 1.2em 0.7em 1.2em;
}

main {
    margin: 0em 2em 3em 2em;
}

main #popular-drop {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

main #popular, #drop {
	text-align: center;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/* prodcut cards */
main .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    margin-bottom: 1em;
}
  
main .price {
	font-size: 35px;
	font-family: "Actor";
	background-color: #F5F5F5;
	padding: 0.4em 0 0.4em 0;
}

main .price-drop {
	font-family: "Actor";
	font-size: 1em;
	margin: 0;
	padding: 0 0 1em 0;
	background-color: #F5F5F5;
}
  
main .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}
  
main .card button:hover {
	opacity: 0.7;
}

main .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	font-family: "Actor";
}

main .card img {
	padding: 1.2em;
}

main button a {
	text-decoration: none;
	color: white;
}

main #header-container {
	font-family: "Actor";
	font-size: 1em;
	display: flex;
	flex-wrap: wrap;
}
